* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: steelblue;
  color: white;
  font: lighter 16px/150% "Helvetica Neue", sans-serif;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.user {
  width: 47%;
  height: 300px;
  float: left;
  padding: 15px;
  margin: 5px;
  background: white;
  color: #333;
}

.user-image img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
